{% load blog-tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form test</title>
</head>

<body>
    <form action="{% url 'website:test' %}" method="post">
        {% csrf_token %}
        <label>name:</label>
        <input name="name" type="text"><br>
        <label>email:</label>
        <input name="email" type="email"><br>
        <label>subject:</label>
        <input name="subject" type="text"><br>
        <label>message:</label>
        <input name="message" type="text"><br>
        <button type="submit">submit</button>
    </form>
</body>

</html>